{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <div class="container">
    <h1>Enjoy with our delicious {{object.name}} !</h1>
    <div class="inside-cont">
      <div class="block">
      <h1>{{ object.name }}</h1>
      <h2>Price: {{ object.price }}</h2>
      <h2>Quantity: {{ object.quantity }}</h2>

      <form method="post" action="{% url 'product' object.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="button">All Products</button>
      </form>
    </div>
    <div class="block">
      <img src="{% static 'images/food.png' %}" alt="Food" class="image-product">
    </div>
    </div>

  </div>

  {% endblock %}
