{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <div class="container">
    <h1>We have the best quality market, choose your product and enjoy! </h1>
    <img src="{% static 'images/food-g.png' %}" alt="Food" class="image-lists">
    <a href="{% url 'add-product' %}">add product</a>
  {% for product in object_list %}
    <div class="row">
      <h2>name {{product.id}}</h2>
      <h2>name {{product.name}}</h2>
      <p>price:{{product.price}}</p>
      <p>Quantity: {{product.quantity}}</p>

      <div>
        <a href="{% url 'product' product.id %}" >Open product</a>
      </div>
        <div>
          <a href="{% url 'edit-product' product.id %}" >edit product</a>
        </div>
      <div>
        <form method="POST" action="">
          {%csrf_token%}
          <button class="allAddress" onclick="ConfirmDelete()">Delete Product
          </button>

          </form>
        </div>



    </div>
    {% endfor %}
    <script>
function ConfirmDelete()
{
  return confirm("Are you sure you want to delete?");
}
    </script>


    <p>Still did not find your product? Don't worry. You can write us! </p>
  </div>

  {% endblock %}
